<html>
	<head>
		<title>Githunch - Github Bookmarks</title>
		<link rel="stylesheet" href="/css/githunch.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>