<html>
	<head>
		<title>Githunch - Github Bookmarks</title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>